*{
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: rgb(175, 175, 175);
  text-decoration: none;    
  transition: color 0.3s;
}

.nav-links a:hover {
  color:#005FF9;   
}



.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #202020;
  border-radius: 16px;
  overflow: hidden;
  color: #fff;
  font-family: system-ui, sans-serif;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
  transition: transform 0.25s ease, box-shadow 0.35s ease;
  max-width: 340px;
  margin: 20px;
  padding-bottom: 10px;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.45);
}
.card:hover .card-header img {
  filter: brightness(60%); 
}


.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.card-body {
  padding: 18px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-title {
  font-size: 1.3rem;
  margin: 0 0 8px;
  font-weight: 600;
}

.card-body p {
  font-size: 0.95rem;
  color: #ccc;
  margin: 0;
}

.card-footer {
  gap: 10px 14px;
  padding: 14px 20px;
  font-size: 0.9rem;
  color: #aaa;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

span{
  padding: 5px 10px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.cargando{
  color: #005FF9;
}

