/*& Ejercicio 2: Estilos b치sicos en JSX
Objetivo: A침adir estilos mediante clases CSS y estilos inline.

Instrucciones:
Crea un archivo CSS styles.css.
Estiliza Header con una clase que cambie color y fuente.
A침ade un estilo inline a un p dentro de App para cambiar su tama침o. */

.color-fuente{
    color: rgb(0, 68, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}